
/* Styling the custom icon */

.custom_icon {
  background: url("Assets/info-svgrepo-com.svg");
  background-color: #ffffff;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  color: #ffffff;
  height: 32px;
  width: 32px;
  display: block;
}

.custom_icon2 {
  background: url("Assets/information-info-svgrepo-com.svg");
  background-color: #ffffff;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  color: white;
  height: 32px;
  width: 32px;
  display: block;
}

.custom_icon3 {
  background: url("Assets/Musett-Micro-Extras-Get-Info.128.png");
  background-color: #ffffff;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  color: white;
  height: 32px;
  width: 32px;
  display: block;
}

.custom_icon4 {
  background: url("Assets/Icojam-Blue-Bits-Information.256.png");
  background-color: #ffffff;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  color: #ffffff;
  height: 30px;
  width: 30px;
  display: block;
}

.custom_icon5 {
  background: url("Assets/1864210_down_download_import_save_guardar_icon.svg");
  background-color: #ffffff;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  color: white;
  height: 28px;
  width: 28px;
  display: block;
}


